*{
  font-family: "Glegoo", serif;
}
 

/* NAVBAR CSS START*/
.navbar-color{
  background-color: white;
  color: #3bbeff;
  font-weight: 800;


}
.topbar{
  background-color:orange;
  height: 70px;
  margin-top: -10px;
  margin-bottom: -10px;
}
.navbar-nav .nav-link, .nav-link.active, .navbar-nav .dropdown-menu  {
  
            color: #3bbeff;
            transition: color 0.3s;
            font-size: 20px;
            font-weight: 800;
        }

.navbar-nav {
  margin: auto;
  text-align: center;
}
.navbar-nav .nav-link:hover,
        .navbar-nav .dropdown-menu:hover{
  color: #e46bb7;
}        
.navbar-nav .nav-item {
  margin-right: 30px;
}

.call-now-button {
  height: 50px;
  width: 170px;
  background-color: transparent;
  border: 1px solid #e46bb7;
  color: #e46bb7;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
 list-style-type: none;
}

.call-now-button:hover {
  background-color: #e46bb7;
  color: white;
}
.call-now{
  list-style-type: none;
}
@media only screen and (max-width: 767px) {
  .call-now .navbar-nav .call-now-button  {
      margin-left: auto;
      margin-right: auto;
      display: block;
  }
}



  .float-btn {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
  }

/* NAVBAR CSS END */

/* BIRTHDAY DECOR CSS */
.abtext
    {
         background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: cover; 
        box-shadow: 1px 2px 8px 6px #f3943124; 
        overflow: hidden; 
        padding:30px
    }

.card {
  width: 300px;
  height: 400px;
  transition: .3s;
  position: relative;
  border-radius: .5rem 2rem;
  box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.5);
}

.card:hover {
  transform: scale(1.03);
}

.img {
  height: 100%;
  transition: all .3s;
  background: #ff0084;
  background: -webkit-linear-gradient(to right, #0b3c96, #51a0cb);
  background: linear-gradient(to right, #0b3c96, #51a0cb);
  width: 100%;
  border-radius: .5rem 2rem;
}

.img:hover {
  transform: scale(1.05);
}

.img-container {
  display: grid;
  border-radius: .5rem 2rem;
  height: 400px;
  overflow: hidden;
}

.description {
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  text-align: center;
  padding: .5rem 1em;
  width: 95%;
  height: min-content;
  transition: all 0.5s ease;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  backdrop-filter: blur(.1rem);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: .5rem 2rem;
}

.description:hover {
  transform: perspective(100px) translateX(7px) rotateX(3deg) rotateY(3deg) scale(1);
  box-shadow: none;
}

.title {
  color: aliceblue;
}

.page-header-inner {
  background: rgba(0, 0, 0, .7);
}

.gap-4 {
margin-top: 50px; /* Add a 30px gap between rows */
}

/* BIRTHDAY DECOR CSS END */



