.navbar-color{
  background-color: #1f2354;
}
.card {
  width: 300px;
  height: 400px;
  transition: .3s;
  position: relative;
  border-radius: .5rem 2rem;
  box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.5);
}

.card:hover {
  transform: scale(1.03);
}

.img {
  height: 100%;
  transition: all .3s;
  background: #ff0084;
  background: -webkit-linear-gradient(to right, #0b3c96, #51a0cb);
  background: linear-gradient(to right, #0b3c96, #51a0cb);
  width: 100%;
  border-radius: .5rem 2rem;
}

.img:hover {
  transform: scale(1.05);
}

.img-container {
  display: grid;
  border-radius: .5rem 2rem;
  height: 400px;
  overflow: hidden;
}

.description {
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  text-align: center;
  padding: .5rem 1em;
  width: 95%;
  height: min-content;
  transition: all 0.5s ease;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  backdrop-filter: blur(.1rem);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: .5rem 2rem;
}

.description:hover {
  transform: perspective(100px) translateX(7px) rotateX(3deg) rotateY(3deg) scale(1);
  box-shadow: none;
}

.title {
  color: aliceblue;
}

.page-header-inner {
  background: rgba(0, 0, 0, .7);
}
.gap-4 {
margin-top: 50px; /* Add a 30px gap between rows */
}