*{
  font-family: "Glegoo", serif;
}
.navbar-color{
  background-color: #1f2354;
  color: white;

}
.topbar{
  background-color:orange;
  height: 70px;
  margin-top: -10px;
  margin-bottom: -10px;
}
.navbar-nav .nav-link, .nav-link.active, .navbar-nav .dropdown-menu  {
  
            color: white;
            transition: color 0.3s;
            font-size: 20px;
        }

.navbar-nav {
  margin: auto;
  text-align: center;
}
.navbar-nav .nav-link:hover,
        .navbar-nav .dropdown-menu:hover{
  color: #fa8428;
}        
.navbar-nav .nav-item {
  margin-right: 30px;
}


.call-now-button {
  height: 50px;
  width: 170px;
  background-color: transparent;
  border: 1px solid orange;
  color: orange;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
 list-style-type: none;
}

.call-now-button:hover {
  background-color: orange;
  color: white;
}
.call-now{
  list-style-type: none;
}
@media only screen and (max-width: 767px) {
  .call-now .navbar-nav .call-now-button  {
      margin-left: auto;
      margin-right: auto;
      display: block;
  }
}



.float-btn {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

